.Banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 10rem);
  overflow: hidden;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.banner-video {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top center;
  background-color: #000;
  transform: translateX(-50%);
}

.Banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.Banner.show::after {
  opacity: 1;
}

/* ========================= 기본 PC ========================= */
.banner-overlay {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2rem 9.2rem;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.Banner.show .banner-overlay {
  opacity: 1;
}

.title {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 800;
  font-size: 12.8rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.subtitle-eng {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--text-tertiary);
  opacity: 0.8;
  margin-bottom: 0.2rem;
}

.subtitle-kr {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--text-primary);
  margin-bottom: 4rem;
}

.banner-scroll {
  position: relative;
  text-align: center;
}

.banner-scroll span {
  display: block;
  font-family: 'Paperlogy';
  font-weight: 800;
  font-size: 1.8rem;
  color: var(--text-primary);
  margin-bottom: 1.2rem;
}

.arrow-icon {
  width: 4rem;
  animation: scrollBlink 1.5s infinite;
  filter: brightness(0) invert(1);
}

/* ========================= 600px ↓ ========================= */
@media (max-width: 600px) {
  .Banner {
    margin-top: 7rem;
    height: 100%; 
    margin-bottom: 6rem;
  }

  .banner-overlay {
    height: auto;
    padding: 4rem 4rem 0rem;
    justify-content: flex-end;
  }

  .title {
    font-size: 5rem;
    margin-bottom: 0.4rem;
  }

  .subtitle-eng,
  .subtitle-kr {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
  }

  .subtitle-kr {
    margin-bottom: 2rem;
  }

  .banner-scroll span {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  .arrow-icon {
    width: 2.4rem;
  }
}