.concept {
  position: relative;
  overflow: hidden;
  height: auto;
  margin-bottom: 18rem;
}

.concept-line-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 196rem;
  margin-top: 3.8rem;
}

.concept-line {
  width: 100%;
  height: auto;
  display: block;
}

.concept-line path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 0.3s linear;
}

.center-line {
  position: relative;
  display: block;
  margin: 8rem auto 0;
  width: 0.15rem;
  height: 23.4rem;
  background: var(--line-main);
}

.concept-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.concept-title {
  font-family: 'Paperlogy', sans-serif;
  font-size: 10rem;
  line-height: 10rem;
  margin-top: 4.7rem;
  font-weight: 800;
}

.concept-title .outline {
  color: var(--text-dark);
  -webkit-text-stroke: 2.5px var(--text-primary);
}

.concept-title .fill {
  color: var(--text-primary);
}

.concept-objects {
  position: relative;
  width: 100%;
  height: 44rem;
}

.dice,
.hand {
  position: absolute;
  pointer-events: none;
  transition: transform 0.4s ease-out, opacity 0.4s;
}

.dice1 {
  left: 34%;
  top: -30%;
}

.dice2 {
  left: 60%;
  top: -66%;
}

.hand {
  left: 50%;
  top: -7%;
  transform: translateX(-50%);
}

.concept-desc {
  text-align: center;
  margin-top: 6.5rem;
}

.concept-desc p {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  color: var(--text-primary);
  display: inline-block;
  margin-bottom: 1.8rem;
}


@media (max-width: 600px) {
  .concept {
    height: auto;
    margin-bottom: 6rem;
  }

  .concept-line {
    margin-top: 4rem;
  }

  .concept-line-wrap {
    width: 100%;
    max-width: 100rem;
    margin-top: 2rem;
  }

  .concept-title {
    font-size: 4.6rem;
    line-height: 5rem;
  }

  .center-line {
    height: 4rem;
    margin-top: 5rem;
}

  .concept-objects {
    height: 12rem;
  }

  .dice1 {
    left: 20%;
    top: -18%;
    width: 5rem;
  }

  .dice2 {
    left: 68%;
    top: -84%;
    width: 5rem;
  }

  .hand {
    width: 15rem;
    top: 10%;
  }

  .concept-desc p {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1.2rem;
  }
}