.poster {
  position: relative;
  width: 100%;
  height: 108rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.poster-inner {
  display: flex;
  align-items: flex-start;
  width: 128rem;
  gap: 8.4rem; 
}

/* 포스터 이미지 영역 */
.poster-left img {
  object-fit: cover;
  width: 68rem;
}

/* 포스터 왼쪽 타이틀 영역 */
.poster-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2.8rem;
  color: var(--text-primary);
}

.poster-title {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 800;
  font-size: 10rem; 
  line-height: 11.8rem;
  color: var(--text-primary);
  margin-bottom: 3.2rem;
}

.poster-subtitle {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 500;
  font-size: 3rem; 
  color: #000;
  background-color: var(--bg-light);
  display: inline-block;
  width: fit-content;
  padding: 0.8rem 1.1rem;
  margin-bottom: 5.4rem;
}

/* 중간 구분선 */
.pster-line{
  border: solid 1px var(--line-main);
  margin-bottom: 5.4rem;
}

.poster-desc {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 12rem;
  line-break: anywhere;
}

.poster-footer {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 1.8rem; 
  color: var(--text-tertiary);
}

.poster-footer>p {
    margin-bottom: 1.2rem;
}
