.poster {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.poster-inner {
  display: flex;
  align-items: flex-start;
  width: 128rem;
  gap: 8.4rem; 
}

/* 포스터 이미지 영역 */
.poster-left img {
  object-fit: cover;
  width: 68rem;
}

/* 포스터 왼쪽 타이틀 영역 */
.poster-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2.8rem;
  color: var(--text-primary);
}

.poster-title {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 800;
  font-size: 10rem; 
  line-height: 11.8rem;
  color: var(--text-primary);
  margin-bottom: 3.2rem;
}

.poster-subtitle {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 500;
  font-size: 3rem; 
  color: #000;
  background-color: var(--bg-light);
  display: inline-block;
  width: fit-content;
  padding: 0.8rem 1.1rem;
  margin-bottom: 5.4rem;
}

/* 중간 구분선 */
.pster-line{
  border: solid 1px var(--line-main);
  margin-bottom: 5.4rem;
}

.poster-desc {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.2rem;
  margin-bottom: 12rem;
  line-break: anywhere;
  text-align: justify;          
  text-justify: inter-word;     
}

.poster-footer {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 1.8rem; 
  color: var(--text-tertiary);
}

.poster-footer>p {
    margin-bottom: 1.2rem;
}

/* ========================= 반응형 ========================= */
@media (max-width: 600px) {

  .poster {
    height: auto;
    margin-bottom: 6rem;
  }

  .poster-inner {
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2rem;
  }

  .poster-left img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .poster-right {
    margin-top: 0;
    width: 100%;
  }

  .poster-title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1.6rem;
  }

  .poster-subtitle {
    font-size: 1.6rem;
    padding: 0.6rem 0.8rem;
    margin-bottom: 2.4rem;
  }

  .pster-line {
    margin-bottom: 2.4rem;
  }

  .poster-desc {
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-bottom: 3.6rem;
  }

  .poster-footer {
    font-size: 1.2rem;
  }

  .poster-footer > p {
    margin-bottom: 0.8rem;
  }
}