.footer {
  width: 100%;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-inner {
  width: 128rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

/* 메인 타이틀 */
.footer-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  color: #fff;
}

.footer-info-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-row {
  display: flex;
  align-items: flex-start;
  gap: 3.2rem; 
}

.footer-label {
  width: 12rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.5rem;
}

/* 내용 */
.footer-desc {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--text-secondary);
  line-height: 3.5rem;
  max-width: 70rem;
}

.footer-logo img {
  margin-top: 6.4rem;
}
