/* ========= Font 설정 ========= */

/* Paperlogy ExtraBold */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 800;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307@1.1/Paperlogy-ExtraBold.woff2') format('woff2');
  font-display: swap;
}

/* Paperlogy Bold */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307@1.1/Paperlogy-Bold.woff2') format('woff2');
  font-display: swap;
}

/* Paperlogy SemiBold */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 600;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307@1.1/Paperlogy-SemiBold.woff2') format('woff2');
  font-display: swap;
}

/* Paperlogy Medium */
@font-face {
  font-family: 'Paperlogy';
  font-weight: 500;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307@1.1/Paperlogy-Medium.woff2') format('woff2');
  font-display: swap;
}

/* Noto Sans KR (Google Fonts CDN) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


/* ========= 색상 변수 ========= */
:root {
  /* 텍스트 색상 */
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --text-tertiary: #999999;
  --text-sub: #4d4d4d;
  --text-dark: #000000;

  /* 배경 색상 */
  --bg-dark: #000000;
  --bg-light: #ffffff;

  /* 포인트 색상 */
  --accent-main: #44FF00;

  /* 구분선 */
  --line-main: #E5E5E5;
}

/* ========= 기본 세팅 ========= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Paperlogy', 'Noto Sans KR', sans-serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  background: var(--bg-dark);
  color: var(--text-primary);
}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-inner {
  width: 128rem;
  margin-top: 10rem;
  padding: 8rem 0 14rem;
}
