.faculty-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
}

.faculty-modal-box {
  width: 90%;
  max-width: 100rem;
  max-height: 56vh;
  min-height: 54rem;
  background: #111;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding: 3.2rem;
  box-sizing: border-box;
}

.faculty-modal-left {
  width: 20%;
  min-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faculty-modal-img {
  width: 100%;
  height: 28rem;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
  background-size: cover;
  background-position: center;
}

.faculty-modal-role {
  background: var(--accent-main);
  display: inline-block;
  padding: 0.8rem 1.4rem;
  color: #000;
  font-size: 1.8rem;
  font-family: "Paperlogy";
  font-weight: 700;
  margin-bottom: 2rem;
}

.faculty-modal-name {
  font-family: "Paperlogy";
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
}

.faculty-modal-contact {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans KR';
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  gap: 1rem;
  margin-top: 2.4rem;
}

.faculty-modal-contact p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
}

.faculty-contact-icon {
  object-fit: contain;
  display: block;
}

.faculty-modal-right {
  flex: 1;
  max-height: calc(60vh - 6.4rem);
  overflow: hidden;
  padding-right: 1rem;
}


.faculty-modal-message-box {
  height: 100%;
}

.scroll-area {
  max-height: calc(60vh - 10rem);
  overflow-y: auto;
  padding-right: 4px;
}

.faculty-modal-right::-webkit-scrollbar {
  width: 8px;
}

.faculty-modal-right::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 8px;
}

.faculty-modal-right::-webkit-scrollbar-track {
  background: #1b1b1b;
}

.faculty-modal-title {
  font-family: "Noto Sans KR";
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  display: inline-block;
  padding: 0.4rem 1.6rem;
  color: var(--text-dark);
  background-color: var(--accent-main);
}

.faculty-modal-message {
  font-family: "Noto Sans KR";
  font-size: 1.8rem;
  line-height: 2.8rem;
  white-space: pre-line;
}

@keyframes faculty-modal-fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes faculty-modal-up {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .faculty-modal-box {
    flex-direction: column;
    width: 90%;
    max-height: 66vh;
    padding: 2rem;
    min-height: 0;
    gap: 1rem;
  }

  .faculty-modal-left {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    min-width: auto;
  }

  .faculty-modal-img {
    width: 40%;
    height: 14rem;
    margin-bottom: 1rem;
  }

  .faculty-modal-info-wrap {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .faculty-modal-role {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
  }

  .faculty-modal-name {
    font-size: 2rem;
    text-align: left;
  }

  .faculty-modal-contact {
    margin-top: 0;
    font-size: 1.4rem;
    align-items: flex-start;
  }

  .faculty-modal-contact p {
    justify-content: flex-start;
  }

  .faculty-modal-right {
    width: 100%;
    max-height: 40vh;
    padding-right: 0.6rem;
  }

  .faculty-modal-title {
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
  }

  .faculty-modal-message {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}