.project-icon{
  margin-bottom: 2rem;
}

.project-category-item:hover .project-category-label {
  color: var(--accent-main);
}

.project-category-item.active .project-category-label {
  color: var(--accent-main);
}

.project-category-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  gap: 15rem;
}

.project-category-item {
  text-align: center;
}

.project-category-label {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-size: 2.8rem;
}

.project-section-title {
  width: fit-content;
  margin: 0 auto 4rem;
  padding: 1rem 2.8rem;
  background: var(--accent-main);
  color: var(--text-dark);
  font-family: 'Paperlogy';
  font-weight: 700;
  font-size: 2.8rem;
}

.project-grid {
  width: 128rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  justify-content: center;
  margin-bottom: 6rem;
}

.grid-pm,
.grid-dev,
.grid-designer {
  grid-template-columns: repeat(4, 1fr);
}

.project-profile {
  position: relative;
  width: 100%;
  height: 30.2rem;
  border-radius: 1rem;
  perspective: 1200px;
  overflow: hidden;
}

.project-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-front,
.profile-back {
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

.profile-front {
  transform: rotateY(0deg);
}

.profile-back {
  transform: rotateY(180deg);
}

.back-overlay {
  position: absolute;
  inset: 0;
  background: rgba(213, 242, 30, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-profile:hover .profile-front {
  transform: rotateY(-180deg);
}

.project-profile:hover .profile-back {
  transform: rotateY(0deg);
}

.profile-role {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.profile-name {
  font-family: 'Paperlogy';
  font-weight: 600;
  font-size: 3.6rem;
}