.project-icon{
  margin-bottom: 2rem;
}

.project-category-item:hover .project-category-label {
  color: var(--accent-main);
}

.project-category-item.active .project-category-label {
  color: var(--accent-main);
}

.project-category-row {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
  gap: 15rem;
}

.project-category-item {
  text-align: center;
}

.project-category-label {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-size: 2.8rem;
}

.project-section-title {
  width: fit-content;
  margin: 0 auto 4rem;
  padding: 1rem 2.8rem;
  background: var(--accent-main);
  color: var(--text-dark);
  font-family: 'Paperlogy';
  font-weight: 700;
  font-size: 2.8rem;
}

.project-grid {
  width: 128rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  justify-content: center;
  margin-bottom: 6rem;
}

.grid-pm,
.grid-dev,
.grid-designer {
  grid-template-columns: repeat(4, 1fr);
}

.project-profile {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  perspective: 1200px;
  overflow: hidden;
}

.project-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-front,
.profile-back {
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

.profile-front {
  transform: rotateY(0deg);
}

.profile-back {
  transform: rotateY(180deg);
}

.back-overlay {
  position: absolute;
  inset: 0;
  background: rgba(213, 242, 30, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-profile:hover .profile-front {
  transform: rotateY(-180deg);
}

.project-profile:hover .profile-back {
  transform: rotateY(0deg);
}

.project-profile.flip .profile-front {
  transform: rotateY(-180deg);
}

.project-profile.flip .profile-back {
  transform: rotateY(0deg);
}

.profile-role {
  font-family: 'Paperlogy';
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.profile-name {
  font-family: 'Paperlogy';
  font-weight: 600;
  font-size: 3.6rem;
}

@media (max-width: 600px) {
  .project-category-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
  }

  .project-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-category-label {
    font-size: 1.8rem;
  }

  .project-icon img {
    width: 4.8rem;
    height: 4.8rem;
    object-fit: contain;
  }

  .project-section-title {
    font-size: 2.2rem;
    padding: 0.8rem 2rem;
    margin-bottom: 2.4rem;
  }

  .project-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);  
    gap: 1.6rem;
    padding: 0 1.6rem;
    margin-bottom: 6rem;
  }

  .project-profile {
    aspect-ratio: 1 / 1;
  }

  .profile-role {
    font-size: 1.8rem;
  }

  .profile-name {
    font-size: 2.6rem;
  }

  .project-container {
    padding: 0 1.6rem;
  }
}